body {
    background-color: #F8F9FA;
    font-family: 'Montserrat', sans-serif;
}
p {
    color: #707070;
    /*padding-top: 10px;*/
    font-size: 2rem;
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 20px;
}
.dropdown-menu {
    transition: all 0.3s;
}
.table-color {
    background-color: white;
    /*border-radius: 90%;*/
}
.table.table-hover td, .table.table-hover th {
    border: none;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}
.custom-control.custom-radio.custom-control-inline {
    padding-bottom: 2rem;
}
.dropdown-menu.dropdown-menu-right {
    border-radius: 25px;
}
div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}
.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
/*** Table Styles **/

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
.headd {
    color: #D5DDE5;
    ;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.headd:first-child {
    border-top-left-radius: 3px;
}
.headd:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}
.table-row {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
.table-row:hover .text-left {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}
.table-row:first-child {
    border-top: none;
}
.table-row:last-child {
    border-bottom: none;
}
.table-row:nth-child(odd) .text-left {
    background: #EBEBEB;
}
.table-row:nth-child(odd):hover .text-left {
    background: #4E5066;
}
.table-row:last-child .text-left:first-child {
    border-bottom-left-radius: 3px;
}
.table-row:last-child .text-left:last-child {
    border-bottom-right-radius: 3px;
}
.text-left {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}
.text-left:last-child {
    border-right: 0px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}